# Data set stratification

This script randomly assigns training/test labels to each entry in a data set.

One quarter (1/4) of the data is assigned as test, and rest as training. The labeling
is stratified for censoring so that both testing and training pieces have about the same
amount of censoring.

In [1]:
import datasets as ds
import pandas as pd
import numpy as np

This cell can be used for all data sets except *colon*. *colon* is special because it has 3 types of events instead of just 2. Just change the first line to run a different data set.

In [38]:
#data = ds._pbc
#data = ds._lung
#data = ds._nwtco
data = ds._flchain

df = pd.read_csv(data['filename'][:-4] + "_org.csv",
                 sep=None, engine='python')
k = 4

# flchain has three guys at zero, remove them
if 'flchain' in data['filename']:
    df = df[(df[data['timecol']] > 0)]

# Need shape later
n, d = df.shape

# Random reordering
df = df.reindex(np.random.permutation(df.index))
df.sort(data['eventcol'], inplace=True)

assignments = np.array((n // k + 1) * list(range(0, k)))
assignments = assignments[:n]

print(assignments.shape)
print(df.shape)

# Create a new column that specifies set
df['set'] = 1
# 0 is testing
df.loc[assignments == 0, 'set'] = 'testing'
# rest is training
df.loc[assignments != 0, 'set'] = 'training'

print("Training size:", np.sum(df['set'] == 'training'))
print("Testing size:", np.sum(df['set'] == 'testing'))

df = df.reindex(np.sort(df.index))

(7871,)
(7871, 11)
Training size: 5903
Testing size: 1968

Print the labeled to data to a new file.

In [39]:
fname = data['filename']
print(fname)
df.to_csv(fname, na_rep='NA', index=False)

data/flchain.csv

# Colon

Is kind of special. It has 3 events where two must be combined before stratification is possible.

In [48]:
data = ds._colon

df = pd.read_csv(data['filename'], sep=None, engine='python')
n, d = df.shape
k = 4

# Construct lists of events, censored
events = []
censored = []

for i in df['id'].unique():
    x = ((df['id'] == i) & (df['etype'] == 1))
    if df[x]['status'].sum() < 1:
        censored.append(i)
    else:
        events.append(i)

0

In [64]:
trainingids = []
testingids = []
for d in [events, censored]:
    ids = np.random.permutation(d)

    n = len(ids)
    k = 4
    assignments = np.array((n // k + 1) * list(range(0, k)))
    assignments = assignments[:n]

    testingids.extend(ids[assignments == 0])
    trainingids.extend(ids[assignments != 0])
    
df['set'] = 1

for i in trainingids:
    which = (df['id'] == i)
    df.loc[which, 'set'] = 'training'
    
for i in testingids:
    which = (df['id'] == i)
    df.loc[which, 'set'] = 'testing'
    
print("Training size:", np.sum(df['set'] == 'training'))
print("Testing size:", np.sum(df['set'] == 'testing'))
df

Training size: 1392
Testing size: 466

,id,study,rx,sex,age,obstruct,perfor,adhere,nodes,status,differ,extent,surg,node4,time,etype,set
0,1,1,Lev+5FU,1,43,0,0,0,5,1,2,3,0,1,1521,2,training
1,1,1,Lev+5FU,1,43,0,0,0,5,1,2,3,0,1,968,1,training
2,2,1,Lev+5FU,1,63,0,0,0,1,0,2,3,0,0,3087,2,training
3,2,1,Lev+5FU,1,63,0,0,0,1,0,2,3,0,0,3087,1,training
4,3,1,Obs,0,71,0,0,1,7,1,2,2,0,1,963,2,training
5,3,1,Obs,0,71,0,0,1,7,1,2,2,0,1,542,1,training
6,4,1,Lev+5FU,0,66,1,0,0,6,1,2,3,1,1,293,2,training
7,4,1,Lev+5FU,0,66,1,0,0,6,1,2,3,1,1,245,1,training
8,5,1,Obs,1,69,0,0,0,22,1,2,3,1,1,659,2,testing
9,5,1,Obs,1,69,0,0,0,22,1,2,3,1,1,523,1,testing
10,6,1,Lev+5FU,0,57,0,0,0,9,1,2,3,0,1,1767,2,training
11,6,1,Lev+5FU,0,57,0,0,0,9,1,2,3,0,1,904,1,training
12,7,1,Lev,1,77,0,0,0,5,1,2,3,1,1,420,2,testing
13,7,1,Lev,1,77,0,0,0,5,1,2,3,1,1,229,1,testing
14,8,1,Obs,1,54,0,0,0,1,0,2,3,0,0,3192,2,testing
15,8,1,Obs,1,54,0,0,0,1,0,2,3,0,0,3192,1,testing
16,9,1,Lev,1,46,0,0,1,2,0,2,3,0,0,3173,2,training
17,9,1,Lev,1,46,0,0,1,2,0,2,3,0,0,3173,1,training
18,10,1,Lev+5FU,0,68,0,0,0,1,0,2,3,1,0,3308,2,training
19,10,1,Lev+5FU,0,68,0,0,0,1,0,2,3,1,0,3308,1,training
20,11,1,Lev,0,47,0,0,1,1,0,2,3,0,0,2908,2,testing
21,11,1,Lev,0,47,0,0,1,1,0,2,3,0,0,2908,1,testing
22,12,1,Lev+5FU,1,52,0,0,0,2,0,3,3,1,0,3309,2,training
23,12,1,Lev+5FU,1,52,0,0,0,2,0,3,3,1,0,3309,1,training
24,13,1,Obs,1,64,0,0,0,1,1,2,3,0,0,2085,2,training
25,13,1,Obs,1,64,0,0,0,1,1,2,3,0,0,1130,1,training
26,14,1,Lev,1,68,1,0,0,3,1,2,3,0,0,2910,2,training
27,14,1,Lev,1,68,1,0,0,3,1,2,3,0,0,2231,1,training
28,15,1,Obs,1,46,1,0,0,4,0,2,3,0,0,2754,2,testing
29,15,1,Obs,1,46,1,0,0,4,0,2,3,0,0,2754,1,testing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,915,1,Lev,0,42,0,0,0,6,0,1,3,0,1,2114,2,training
1829,915,1,Lev,0,42,0,0,0,6,0,1,3,0,1,2114,1,training
1830,916,1,Obs,0,37,0,0,0,8,1,2,3,1,1,1262,2,training
1831,916,1,Obs,0,37,0,0,0,8,1,2,3,1,1,438,1,training
1832,917,1,Obs,0,71,0,0,0,5,1,3,3,0,1,259,2,testing
1833,917,1,Obs,0,71,0,0,0,5,1,3,3,0,1,122,1,testing
1834,918,1,Lev,1,50,0,0,0,7,1,2,2,0,1,323,2,testing
1835,918,1,Lev,1,50,0,0,0,7,1,2,2,0,1,78,1,testing
1836,919,1,Lev,0,70,1,0,1,1,1,2,2,0,0,678,2,training
1837,919,1,Lev,0,70,1,0,1,1,1,2,2,0,0,532,1,training
1838,920,1,Lev+5FU,0,70,0,0,1,5,0,2,2,0,1,1827,2,testing
1839,920,1,Lev+5FU,0,70,0,0,1,5,0,2,2,0,1,1827,1,testing
1840,921,1,Lev,1,58,1,0,0,3,1,2,4,0,0,1399,2,testing
1841,921,1,Lev,1,58,1,0,0,3,1,2,4,0,0,476,1,testing
1842,922,1,Lev+5FU,0,70,0,0,0,1,1,2,3,0,0,1022,2,training
1843,922,1,Lev+5FU,0,70,0,0,0,1,1,2,3,0,0,329,1,training
1844,923,1,Lev+5FU,1,55,1,0,0,2,0,3,3,0,0,2240,2,training
1845,923,1,Lev+5FU,1,55,1,0,0,2,0,3,3,0,0,2240,1,training
1846,924,1,Obs,1,64,1,0,1,2,0,3,3,0,0,2158,2,testing
1847,924,1,Obs,1,64,1,0,1,2,0,3,3,0,0,2158,1,testing
1848,925,1,Lev+5FU,1,71,0,0,1,4,0,2,3,0,0,1875,2,testing
1849,925,1,Lev+5FU,1,71,0,0,1,4,0,2,3,0,0,1875,1,testing
1850,926,1,Lev,0,72,0,0,0,1,0,2,3,0,0,2154,2,training
1851,926,1,Lev,0,72,0,0,0,1,0,2,3,0,0,2154,1,training
1852,927,1,Lev,1,76,0,0,1,1,1,3,3,0,0,1018,2,training
1853,927,1,Lev,1,76,0,0,1,1,1,3,3,0,0,851,1,training
1854,928,1,Lev+5FU,0,48,1,0,0,4,0,2,3,1,1,2072,2,testing
1855,928,1,Lev+5FU,0,48,1,0,0,4,0,2,3,1,1,2072,1,testing
1856,929,1,Lev,0,66,1,0,0,1,0,2,3,0,0,1820,2,training
1857,929,1,Lev,0,66,1,0,0,1,0,2,3,0,0,1820,1,training

Print data to file.

In [65]:
fname = data['filename'][:-8] + '.csv'
print(fname)
df.to_csv(fname, na_rep='NA', index=False)

data/colon.csv